# Source control
.git/
.github/

# Node
node_modules/

# Dev & config files
.vscode/
.idea/
.editorconfig
tsconfig.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests / examples
example/
__tests__/

# Screenshots
*.png
*.jpg
*.jpeg
*.DS_Store

# OS
.DS_Store
Thumbs.db

